<div id="staff-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <ng-container *ngIf="isAdd == true">
            <h3 class="modal-title" id="add-title">Add Staff</h3>
        </ng-container>
        <ng-container *ngIf="isEdit == true">
            <h3 class="modal-title" id="edit-title">Edit Staff</h3>
        </ng-container>
        <span class="close" id="close">&times;</span>
        <div class="modal-body">
            <form id="staff-form">
                <input type="hidden" *ngIf="isEdit == true" name="Id" [ngModel]="staff?.Id"
                    (ngModelChange)="staff.Id = $event">
                <div class="form-row">
                    <label>Employee Code</label>
                    <input type="text" name="EmpCode" [ngModel]="staff?.EmpCode | uppercase "
                        (ngModelChange)="staff.EmpCode = $event" [readonly]="isReadOnly" required>
                </div>
                <div class="form-row">
                    <label>Name</label>
                    <input type="text" name="Name" [ngModel]="staff?.Name | titlecase "
                        (ngModelChange)="staff.Name = $event" required>
                </div>
                <div class="form-row">
                    <label>Staff Type</label>
                    <ng-container *ngIf="isEdit == true">
                        <input type="text" name="StaffType" [ngModel]="staff?.StaffType" id="staff-type-edit" readonly
                            required>
                    </ng-container>
                    <ng-container *ngIf="isAdd == true">
                        <div id="staff-type-add">
                            <select name="StaffType" class="type-selector" [(ngModel)]="staff.StaffType">
                                <option value="Teaching">Teaching</option>
                                <option value="Administrative">Administrative</option>
                                <option value="Support">Support</option>
                            </select>
                        </div>
                    </ng-container>
                </div>
                <ng-container *ngIf="staff?.StaffType == 'Teaching'">
                    <div class=" teaching-fields">
                        <div class="form-row">
                            <label>Subject</label>
                            <input type="text" name="Subject" [ngModel]="staff?.Subject | titlecase "
                                (ngModelChange)="staff.Subject = $event" required>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="staff?.StaffType == 'Administrative'">
                    <div class="administrative-fields">
                        <div class="form-row">
                            <label>Role</label>
                            <input type="text" name="Role" [ngModel]="staff?.Role | titlecase "
                                (ngModelChange)="staff.Role = $event" required>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="staff?.StaffType == 'Support'">
                    <div class="support-fields">
                        <div class="form-row">
                            <label>Department</label>
                            <input type="text" name="Department" [ngModel]="staff?.Department | titlecase "
                                (ngModelChange)="staff.Department = $event" required>
                        </div>
                    </div>
                </ng-container>
                <div class="form-row">
                    <label>Contact Number</label>
                    <input type="text" name="ContactNumber" [ngModel]="staff?.ContactNumber"
                        (ngModelChange)="staff.ContactNumber = $event" required>
                </div>
                <ng-container *ngIf="isEdit == true">
                    <div class="form-row" id="form-date">
                        <label>Date Of Join</label>
                        <input type="text" name="DateOfJoin" [ngModel]="(staff)?.DateOfJoin | date : 'shortDate'"
                            readonly required>
                    </div>
                </ng-container>
                <div class="text-center">
                    <ng-container *ngIf="isEdit == true">
                        <button class="modal-sbmt-btn mx-auto" type="submit" id="edit-sbmt-btn"
                            (click)="updateStaff();">Submit</button>
                    </ng-container>
                    <ng-container *ngIf="isAdd == true">
                        <button class="modal-sbmt-btn mx-auto" type="submit" id="add-sbmt-btn"
                            (click)="addStaff();">Submit</button>
                    </ng-container>
                </div>
            </form>
        </div>

    </div>
</div>