<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="startDate" value="01"/>
		<add key="startMonth" value="01"/>
		<add key="startYear" value="2020"/>
	</appSettings>
 <connectionStrings>
    <add name="Connection" connectionString="..."/>
  </connectionStrings>
</configuration>