<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="startDate" value="2020,01,01"/>
		<add key="subjects" value="maths,english,malayalam,science,social,hindi"/>
	</appSettings>
 <connectionStrings>
    <add name="Connection" connectionString="..."/>
  </connectionStrings>
</configuration>