<div class="mt">
    <select class="type-selector" id="type-select" (change)="getStaffs($event.target.value)">
        <option value="Teaching" selected>Teaching</option>
        <option value="Administrative">Administrative</option>
        <option value="Support">Support</option>
    </select>
    <button class="multy-dlt-btn" id="dltAll-btn" onclick="deleteMultipleStaffs();">Delete All</button>
    <button type="button" class="staff-add-btn" (click)="renderAddPopup()">Add Staff</button>
    <div class="table-responsive mt-2">
        <table class="table pagination" id="staff-table" data-pagecount="7">
            <thead>
                <tr>
                    <th><input type="checkbox" name="SelectAllStaff" id="slct-all-staff"></th>
                    <th class="sort-th">Name <span>&#8645;</span></th>
                    <th>Emp Code</th>
                    <th>Type</th>
                    <th>Phone Number</th>
                    <th>Date Of Join</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staff of staffs">
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>{{staff.Name}}</td>
                    <td>{{staff.EmpCode}}</td>
                    <td>{{staff.StaffType}}</td>
                    <td>{{staff.ContactNumber}}</td>
                    <td>{{staff.DateOfJoin | date : 'shortDate'}}</td>
                    <td><button class="mr-1" title="Edit" (click)="renderEditPopup(staff)">&#9997;</button>
                        <button title="Delete">&#10006;</button>
                    </td>
                </tr>
            </tbody>
            <tbody id="staff-tb">
            </tbody>
        </table>
        <div id="paginate"></div>
    </div>

    <div id="staff-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <ng-container *ngIf="isAdd == true">
                <h3 class="modal-title" id="add-title">Add Staff</h3>
            </ng-container>
            <ng-container *ngIf="isEdit == true">
                <h3 class="modal-title" id="edit-title">Edit Staff</h3>
            </ng-container>
            <span class="close" id="close">&times;</span>
            <div class="modal-body">
                <form id="staff-form">
                    <input type="hidden" name="Id" [ngModel]="(selectedStaff)?.Id"
                        (ngModelChange)="selectedStaff.Id = $event">
                    <div class="form-row">
                        <label>Employee Code</label>
                        <input type="text" name="EmpCode" [ngModel]="(selectedStaff)?.EmpCode"
                            (ngModelChange)="selectedStaff.EmpCode = $event" [readonly]="isReadOnly" required>
                    </div>
                    <div class="form-row">
                        <label>Name</label>
                        <input type="text" name="Name" [ngModel]="(selectedStaff)?.Name"
                            (ngModelChange)="selectedStaff.Name = $event" required>
                    </div>
                    <div class="form-row">
                        <label>Staff Type</label>
                        <ng-container *ngIf="isEdit == true">
                            <input type="text" name="StaffType" [ngModel]="(selectedStaff)?.StaffType"
                                id="staff-type-edit" readonly required>
                        </ng-container>
                        <ng-container *ngIf="isAdd == true">
                            <div id="staff-type-add">
                                <select name="StaffType" class="type-selector" [(ngModel)]="selectedType">
                                    <option value="Teaching" selected>Teaching</option>
                                    <option value="Administrative">Administrative</option>
                                    <option value="Support">Support</option>
                                </select>
                            </div>
                        </ng-container>
                    </div>
                    <ng-container *ngIf="selectedType == 'Teaching'">
                        <div class=" teaching-fields">
                            <div class="form-row">
                                <label>Subject</label>
                                <input type="text" name="Subject" [ngModel]="(selectedStaff)?.Subject"
                                    (ngModelChange)="selectedStaff.Subject = $event" required>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedType == 'Administrative'">
                        <div class="administrative-fields">
                            <div class="form-row">
                                <label>Role</label>
                                <input type="text" name="Role" [ngModel]="(selectedStaff)?.Role"
                                    (ngModelChange)="selectedStaff.Role = $event" required>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="selectedType == 'Support'">
                        <div class="support-fields">
                            <div class="form-row">
                                <label>Department</label>
                                <input type="text" name="Department" [ngModel]="(selectedStaff)?.Department"
                                    (ngModelChange)="selectedStaff.Department = $event" required>
                            </div>
                        </div>
                    </ng-container>
                    <div class="form-row">
                        <label>Contact Number</label>
                        <input type="text" name="ContactNumber" [ngModel]="(selectedStaff)?.ContactNumber"
                            (ngModelChange)="selectedStaff.ContactNumber = $event" required>
                    </div>
                    <ng-container *ngIf="isEdit == true">
                        <div class="form-row" id="form-date">
                            <label>Date Of Join</label>
                            <input type="text" name="DateOfJoin"
                                [ngModel]="(selectedStaff)?.DateOfJoin | date : 'shortDate'" readonly required>
                        </div>
                    </ng-container>
                    <div class="text-center">
                        <ng-container *ngIf="isEdit == true">
                            <button class="modal-sbmt-btn mx-auto" type="submit" id="edit-sbmt-btn"
                                (click)="updateStaff();">Submit</button>
                        </ng-container>
                        <ng-container *ngIf="isAdd == true">
                            <button class="modal-sbmt-btn mx-auto" type="submit" id="add-sbmt-btn"
                                onclick="addStaff(event);">Submit</button>
                        </ng-container>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>