<div class="mt">
    <select class="type-selector" id="type-select" [(ngModel)]="selectedType" (change)="getStaffs()">
        <option value="Teaching" selected>Teaching</option>
        <option value="Administrative">Administrative</option>
        <option value="Support">Support</option>
    </select>
    <button class="dlt-all-btn" (click)="deleteStaffs()" [class.show]="(deleteList.length>0)">Delete
        All</button>
    <button type="button" class="staff-add-btn" (click)="renderAddPopup()">Add Staff</button>
    <div class="table-responsive mt-2">
        <table class="table pagination" id="staff-table" data-pagecount="7">
            <thead>
                <tr>
                    <th><input type="checkbox" [checked]="isCheckAll" (change)="generateDeleteListOnSelectAll($event)">
                    </th>
                    <th class="sort-th">Name <span>&#8645;</span></th>
                    <th>Emp Code</th>
                    <th>Type</th>
                    <th>Phone Number</th>
                    <th>Date Of Join</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let staff of staffs">
                    <td>
                        <input type="checkbox" [checked]="isCheckAll" (change)="generateDeleteList(staff.Id, $event)">
                    </td>
                    <td>{{staff.Name}}</td>
                    <td>{{staff.EmpCode}}</td>
                    <td>{{staff.StaffType}}</td>
                    <td>{{staff.ContactNumber}}</td>
                    <td>{{staff.DateOfJoin | date : 'shortDate'}}</td>
                    <td><button class="mr-1" title="Edit" (click)="renderEditPopup(staff)">&#9997;</button>
                        <button (click)="deleteStaff(staff.Id)" title="Delete">&#10006;</button>
                    </td>
                </tr>
            </tbody>
            <tbody id="staff-tb">
            </tbody>
        </table>
        <div id="paginate"></div>
    </div>

    <app-form (getStaffs)="getStaffs()" [staff]="selectedStaff" [isAdd]="isAdd" [isEdit]="isEdit"
        [isReadOnly]="isReadOnly"></app-form>
</div>