.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}
.table td, .table th {
    text-align: left;
    padding: 8px;
}
.table td, .table th {
    border-top: 1px solid #ccc;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.table .sort-th{
    cursor: pointer;
}
.table .sort-th span{
    font-size: 14px;
    font-weight: 400;
}
.type-selector{
    padding: 3px 15px;
}
.mt{
    margin-top: 120px;
}

.staff-add-btn{
    float: right;
    background-color: #212529;
    padding: 7px 15px;
    color: #fff;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    border:none;
}

  .dlt-all-btn{
      visibility: hidden;
      color: #fff;
      background-color: #f90505a1;
      border: none;
      padding: 5px 10px;
      box-shadow: none;
      outline: none;
      margin-left: 1rem;
      border-radius: 0.25rem;
      cursor: pointer;
  }
  .dlt-all-btn.show{
      visibility: visible;
  }